body{
	background-color : #7cc264;
	font-family: 'Kavivanar', cursive;
	width : 1600px;
	max-width : 100%;

}



h3{
	background-color : 1d6b13;
	size : 50px;
	text-align : center;
	background-image : url("https://upload.wikimedia.org/wikipedia/commons/a/a1/Vero_cells.jpg");
}




menu li{
	
	position : relative;
	text-align : center;
	list-style-type : none;
	float : left;
	padding-right : 25px;

}

h4{
	text-align : center;
}

#mise_jour{
	text-align : auto;
	position : relative;
	border: solid 1px #000;
	border-radius : 5px;
	padding: 4px;
	width : 400px;
	height : 400px;
	max-width : 50%;
	}

#actu{
	text-align : auto;
	position : relative;
	border: solid 1px #000;
	border-radius : 5px;
	padding: 4px;
	width : 400px;
	height : 400px;
	max-width : 50%;
	left : 600px;
	bottom : 410px; 
	
	}
h6{
	position: relative;
	top: 450px;
}	
#foot{
	position : relative;
	top : 440px;
}
	

