body{
	background-color : #7cc264;
	font-family: 'Kavivanar', cursive;
	width : 1600px;
	max-width : 100%;

}



h3{
	background-color : 1d6b13;
	size : 50px;
	text-align : center;
	background-image : url("https://upload.wikimedia.org/wikipedia/commons/a/a1/Vero_cells.jpg");
}

menu li{
	position : relative;
	text-align : center;
	list-style-type : none;
	float : left;
	padding-right : 25px;

}
	
	