body{
	background-color : #7cc264;
	font-family: 'Kavivanar', cursive;
	width : 1600px;
	max-width : 100%;
	margin-left : 25px;
}

div{
	text-decoration: none;
	margin-left : 25px;
}

menu li{
	position : relative;
	text-align : center;
	list-style-type : none;
	float : left;
	padding-right : 25px;

}

