body{
	background-color : #7cc264;
	font-family: 'Kavivanar', cursive;
	width : 1600px;
	max-width : 100%;
	margin-left : 25px;
}
h3{
	font-size : 35px;
}

#Edit{
	
	text-decoration : none;
	padding: 5px;
	margin-right : 20px;
	box-shadow:  1px 1px 2px 3px #17560f;
}

#Cancel{
	text-decoration : none;
	padding: 5px;
	margin-right : 20px;
	margin-top : 20px;
	box-shadow:  1px 1px 2px 3px #17560f;
}

#Clear{
	text-decoration : none;
	padding: 5px;
	margin-right : 20px;
	margin-top : 20px;
	box-shadow:  1px 1px 2px 3px #17560f;
}


.index_del_rem_line_line_ico_extra_space{
	padding-right : 10px;
}

.index_del_rem_line_line_ico{
	padding-right : 10px;
}
	
.add_line_line_ico{
	padding-right : 10px;
}