body{
	background-color : #7cc264;
	font-family: 'Kavivanar', cursive;
	width : 1600px;
	max-width : 100%;
}

.index_del_rem_line_line_ico_extra_space{
	padding-right : 10px;
}

.index_del_rem_line_line_ico{
	padding-right : 10px;
}
	
.add_line_line_ico{
	padding-right : 10px;
}