<body>
  
  <h3>The Human Body</h3>

<div>
<menu id="menu">
  <ul>
    <li><a [routerLink]="['/accueil']" id="acces_accueil">Accueil</a></li>
    <li><a [routerLink]="['/appareils']" id="acces_appareils">Appareils et Systèmes</a></li>
    <li><a [routerLink]="['/tissus']" id="acces_tissu">Tissus</a></li>
    <li><a [routerLink]="['/tcellulaire']" id="acces_tcellulaire">Type Cellulaire</a></li>
    <li><a [routerLink]="['/recherche']" id="acces_recherche">Recherche</a></li>
    <li><a [routerLink]="['/contact']" id="acces_contact">Contact</a></li>
    <li><a [routerLink]="['/connexion']" id="acces_connexion">Connexion</a></li>
    <li><a [routerLink]="['/inscription']" id="acces_inscription">Inscription</a></li>
  </ul>
</menu>
</div>
</body>