menu{
    background-color: #e6f5e3;
    box-shadow: 1px 2px 1px 3px #16490c;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    max-width: 50%;
    width: 1600px;
   
}


label,a,li{
    font-family: 'Kavivanar', cursive;
}

h3{
    text-align: center;
    font-family: 'Kavivanar', cursive;
}


ul, li{
    list-style: none;
}