<menu>
  <h3>Encyclopédie</h3>
  <ul>
    <li>
      <a id="systeme_index">Par Systeme</a>
    </li>
    <ul id="systeme_liste">
      <li>
        <a> Appareil digestif </a>
      </li>
      <ul (click)="liste_visible()">
        <li><a href="#"></a>Lèvres</li>
        <li><a href="#"></a>Gencives</li>
        <li><a href="#"></a>Dents</li>
        <li><a href="#"></a>Palais</li>
        <li><a href="#"></a>Langue</li>
        <li><a href="#"></a>Pharynx</li>
        <li><a href="#"></a>Oesophage</li>
        <li><a href="#"></a>Estomac</li>
        <li><a (click)=liste_visible()></a>Intestins</li>
        <ul id="intestins">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>

      </ul>

      <li>
        <a href="#"> Appareil respiratoire </a>
      </li>
      <li>
        <a href="#"> Appareil reproducteur </a>
      </li>
      <li>
        <a href="#"> Appareil urinaire </a>
      </li>
      <li>
        <a href="#"> Squelette </a>
      </li>
      <li>
        <a href="#"> Système immunitaire </a>
      </li>
      <li>
        <a href="#"> Système cardiovasculaire </a>
      </li>
      <li>
        <a href="#"> Système nerveux </a>
      </li>
    </ul>
    <li>
      <a id="tissu_index">Par Tissu</a>
    </li>
    <ul id="tissu_liste">
      <li>
        <a href="#"> Tissus épithéliaux </a>
      </li>
      <li>
        <a href="#"> Tissus conjonctifs et de soutien </a>
      </li>
      <li>
        <a href="#"> Tissus musculaires </a>
      </li>
      <li>
        <a href="#"> Tissus nerveux </a>
      </li>
    </ul>
  </ul>
</menu>