  <div id="mise_a_jour">
    <h3>Dernière mise à jour</h3>
    <p>
      <br>Eodem tempore etiam Hymetii praeclarae indolis viri negotium est actitatum,
      <br>cuius hunc novimus esse textum. cum Africam pro consule regeret Carthaginiensibus
      <br>victus inopia iam lassatis, ex horreis Romano populo destinatis frumentum dedit,
      <br>pauloque postea cum provenisset segetum copia, integre sine ulla restituit mora.
    </p>
  </div>
  <div id="actualites">
    <h3>Actualités</h3>
    <p>
      <br>Eodem tempore etiam Hymetii praeclarae indolis viri negotium est actitatum,
      <br>cuius hunc novimus esse textum. cum Africam pro consule regeret Carthaginiensibus
      <br>victus inopia iam lassatis, ex horreis Romano populo destinatis frumentum dedit,
      <br>pauloque postea cum provenisset segetum copia, integre sine ulla restituit mora.
    </p>
  </div>
