<h2>Cell-Finding : Bibliothèque de Cellules Humaines</h2>
<app-web>it works !</app-web>
<body>
  <menu id="menu_header">
    <ul>
        <li><a [routerLink]="['/accueil']" id="acces_accueil">Accueil</a></li>
        <li><a [routerLink]="['/recherche']" id="acces_recherche">Recherche</a></li>
        <li><a [routerLink]="['/encyclopedie']" id="acces_encyclo">Encyclopédie</a></li>
        <li><a [routerLink]="['/contact']" id="acces_contact">Contact</a></li>
        <li><a [routerLink]="['inscription']" id="acces_inscription">Inscription</a></li>
        <li><a [routerLink]="['connexion']" id="acces_connexion">Connexion</a></li>
    </ul>
  </menu>
</body>
