<div>
  <h2>Nous contacter</h2>
  <h3>Par mail : </h3><a href="#" id="adresse_mail">zert@gmail.gr</a>
  <h3>Siège social :</h3> <p>25 Boulevard de la Traboule, 69000 Lyon</p>
</div>

<div>
  <h3>Pour toutes questions ou suggestions, n'hésitez pas à complèter le formulaire. Nous y répondrons dès que possible.</h3>

  
<form method="post" action="traitement.php" id="nom_form"> Nom :  <input type="text" class="nom_rep_form" /></form>
<form method="post" action="traitement.php" id="adresse_mail_form"> Adresse mail :  <input type="text" class="adresse_rep_form" /></form> 
<form method="post" action="traitement.php" id="objet_form"> Objet:  <input type="text" class="objet_rep_form" /></form>
<div class="message"><form method="post" action="traitement.php" id="message_form"> Message :  <input type="text" class="message_rep_form" /></form>
</div>

<br>
<button type="submit">Soumettre</button>
 

</div>
